/* SCENE SETUP */

.canvasBackground{
	-fx-background-image: url(../images/SoftPaper.png);
}

.canvasTitle{
	-fx-font-family: "Maybe Next";
	-fx-font-size: 100;
}

.timerLabel{
	-fx-font-family: "Maybe Next";
	-fx-background-image: url(../images/timerLabel.png);
}

.timerBarDefault{
	-fx-background-color: #008080;
	-fx-background-radius: 0 20 20 0;
}

.timerBarWin{
	-fx-background-color: #40BF4A;
}

.timerBarLoss{
	-fx-background-color: #F45B69;
}

.wordLabel{
	-fx-font-family: "Maybe Next";
}

.canvasBox{
	-fx-background-color: #FCEFE8;
	-fx-background-radius: 10 10 20 10;
}

.predictionLabel{
	-fx-font-family: "Maybe Next";
}

.predictionGridLabel{
	-fx-font-family: "Maybe Next";
	-fx-font-fill: white;
	-fx-font-size: 16;
}

.predictionGridLabelTop{
	-fx-background-radius: 0 30 0 0;
}

.predictionGridLabelBottom{
	-fx-background-radius: 0 0 30 0;
}

.predictionGridLabelDefault{
	-fx-background-color: #406DBF;
	-fx-background-insets: 0 15 0 0;
}

.predictionGridLabelIsPrompt{
	-fx-background-color: #40BF4A;
	-fx-background-radius: 0 20 20 0;
}

.predictionGrid{
	-fx-background-color: #406DBF;
	-fx-background-radius: 0 30 30 0;
	-fx-background-insets: 0 15 0 0;
}

/*DRAWING CONTROL BUTTONS */

.brushButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushButtonDefault.png);
}

.brushButton:hover{
	-fx-background-image: url(../images/buttons/brushButtonHover.png);
	-fx-cursor: hand;
}

.brushButton:pressed{
	-fx-background-image: url(../images/buttons/brushButtonDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.brushButtonSelected{
	-fx-background-image: url(../images/buttons/brushButtonSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserButtonDefault.png);
}

.eraserButton:hover{
	-fx-background-image: url(../images/buttons/eraserButtonHover.png);
	-fx-cursor: hand;
}

.eraserButton:pressed{
	-fx-background-image: url(../images/buttons/eraserButtonDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserButtonSelected{
	-fx-background-image: url(../images/buttons/eraserButtonSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.clearButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/clearButtonDefault.png);
}

.clearButton:hover{
	-fx-background-image: url(../images/buttons/clearButtonHover.png);
	-fx-cursor: hand;
}

.clearButton:pressed{
	-fx-background-image: url(../images/buttons/clearButtonDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

/* PRE / POST GAME BUTTONS */

/*START BUTTON */
.startButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/startButtonDefault.png);
}

.startButton:hover{
	-fx-background-image: url(../images/buttons/startButtonHover.png);
	-fx-cursor: hand;
}

.startButton:pressed{
	-fx-background-image: url(../images/buttons/startButtonDown.png);
	-fx-pref-width: 145;
	-fx-pref-height: 43;
}

/*MENU BUTTON */
.backToMenuButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/menuButtonDefault.png);
}

.backToMenuButton:hover{
	-fx-background-image: url(../images/buttons/menuButtonHover.png);
	-fx-cursor: hand;
}

.backToMenuButton:pressed{
	-fx-background-image: url(../images/buttons/menuButtonDown.png);
	-fx-pref-width: 142;
	-fx-pref-height: 42;
}

/*RESTART BUTTON */
.restartButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/restartButtonDefault.png);
}

.restartButton:hover{
	-fx-background-image: url(../images/buttons/restartButtonHover.png);
	-fx-cursor: hand;
}

.restartButton:pressed{
	-fx-background-image: url(../images/buttons/restartButtonDown.png);
	-fx-pref-width: 122;
	-fx-pref-height: 42;
}

/*SAVE BUTTON */
.saveButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/saveButtonDefault.png);
}

.saveButton:hover{
	-fx-background-image: url(../images/buttons/saveButtonHover.png);
	-fx-cursor: hand;
}

.saveButton:pressed{
	-fx-background-image: url(../images/buttons/saveButtonDown.png);
	-fx-pref-width: 142;
	-fx-pref-height: 42;
}

/*Brush size option buttons */

.brushSizeSmall{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushSmallDefault.png);	
}

.brushSizeSmall:hover{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushSmallHover.png);	
}

.brushSizeSmall:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushSmallDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.brushSizeSmallSelected{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushSmallSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.brushSizeMedium{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushMediumDefault.png);	
}

.brushSizeMedium:hover{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushMediumHover.png);	
}

.brushSizeMedium:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushMediumDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.brushSizeMediumSelected{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushMediumSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.brushSizeLarge{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushLargeDefault.png);	
}

.brushSizeLarge:hover{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushLargeHover.png);	
}

.brushSizeLarge:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushLargeDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.brushSizeLargeSelected{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/brushLargeSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

/*Eraser size option buttons */

.eraserSizeSmall{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserSmallDefault.png);	
}

.eraserSizeSmall:hover{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserSmallHover.png);	
}

.eraserSizeSmall:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserSmallDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserSizeSmallSelected{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserSmallSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserSizeMedium{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserMediumDefault.png);	
}

.eraserSizeMedium:hover{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserMediumHover.png);	
}

.eraserSizeMedium:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserMediumDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserSizeMediumSelected{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserMediumSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserSizeLarge{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserLargeDefault.png);	
}

.eraserSizeLarge:hover{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserLargeHover.png);	
}

.eraserSizeLarge:pressed{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserLargeDown.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.eraserSizeLargeSelected{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/eraserLargeSelected.png);
	-fx-pref-width: 102;
	-fx-pref-height: 102;
}

.colourPicker{
	-fx-background-color: #FCEFE8;
	-fx-background-radius: 20;
	-fx-font-family: "Maybe Next";
	-fx-font-size: 14;
}