.mainMenuTitle{
	-fx-font-family: "Maybe Next";
}

.userNameLabel{
	-fx-font-family: "Maybe Next";
}

.profileSelectButton{
	-fx-background-color: transparent;
}

.profileSelectButton:hover{
	-fx-cursor: hand;
}

.newGameButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/newGameButtonDefault.png);
}

.newGameButton:hover{
	-fx-background-image: url(../images/buttons/newGameButtonHover.png);
	-fx-cursor: hand;
}

.newGameButton:pressed{
	-fx-background-image: url(../images/buttons/newGameButtonDown.png);
}

.statsMenuButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/statsMenuButtonDefault.png);
}

.statsMenuButton:hover{
	-fx-background-image: url(../images/buttons/statsMenuButtonHover.png);
	-fx-cursor: hand;
}

.statsMenuButton:pressed{
	-fx-background-image: url(../images/buttons/statsMenuButtonDown.png);
}

.quitMenuButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/quitMenuButtonDefault.png);
}

.quitMenuButton:hover{
	-fx-background-image: url(../images/buttons/quitMenuButtonHover.png);
	-fx-cursor: hand;
}

.quitMenuButton:pressed{
	-fx-background-image: url(../images/buttons/quitMenuButtonDown.png);
}

.profileImageView{
	-fx-effect: dropshadow(gaussian, #fff8f5, 10, 1, 0, 0);
}

.mainMenuBackground{
	-fx-background-image: url(../images/SoftPaper.png);
	-fx-background-size: 1920 1080;
}

.menuBox{
	-fx-background-color: #FCEFE8;
	-fx-background-radius: 10 10 0 0;
	-fx-background-insets: 0 0 0 10;
}