.statsLabel{
	-fx-font-family: "Maybe Next";
}

.statDescriptionLabel{
	-fx-background-color: #FFDEB0;
	-fx-background-radius: 20 0 0 20;
	-fx-text-fill: #323232;
}

.badgesScrollPane{
	-fx-background: transparent;
	-fx-background-color:  #ffd79d;
	-fx-fit-to-width: true;
	-fx-fit-to-height: true;
	-fx-background-radius: 25;
	-fx-border-color: #ffc26a;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-effect: dropshadow(gaussian, #a55a29, 10, 1, 5, 5);
}

.winsLabel{
	-fx-background-color: #51B741;
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

.lossesLabel{
	-fx-background-color: #F45B69;
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

.fastestWordLabel{
	-fx-background-color: #51D4D0;
	-fx-background-radius: 10 10 10 0;
	-fx-text-fill: white;
}

.fastestTimeLabel{
	-fx-background-color: #006969;
	-fx-background-radius: 0 10 10 10;
	-fx-text-fill: white;
}

.tabButton{
	-fx-background-color: linear-gradient(to right, #E299E5 60%, #B57BC7
	);
	-fx-background-radius: 50 0 0 50;
	-fx-border-width: 0;
	-fx-text-fill: #EFFBF5;
}

.tabButton:hover{
	-fx-background-color: linear-gradient(to right, #FF99D5, #B57BC7);
}

.tabButton:pressed{
	-fx-background-color: #B57BC7;
}

.backStatsButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/buttons/menuButtonDefault.png);
}

.backStatsButton:hover{
	-fx-background-image: url(../images/buttons/menuButtonHover.png);
}

.backStatsButton:pressed{
	-fx-background-image: url(../images/buttons/menuButtonDown.png);
	-fx-pref-width: 142;
	-fx-pref-height: 42;
}

.titleLabel{
	-fx-font-family: "Maybe Next";
}

.tabPane{
	-fx-background-color: #FCEFE8;
	-fx-background: #FCEFE8;
	-fx-background-radius: 30;
}

.statsBackground{
	-fx-background-image: url(../images/SoftPaper.png);
}