.userSelectionBackground{
	-fx-background-image: url(../images/SoftPaper.png);
}

.userSelectionTitle{
	-fx-font-family: "Maybe Next";
}

.userSelectButton{
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #CAE5EB;
}

.userSelectButton:hover{
	-fx-background-color: #EFFBF5;
	
}

.userSelectButton:pressed{
	-fx-background-color: #BCC6DD;
}

.usernameTextEntry{
	-fx-background-color: #FCEFE8;
	-fx-background-radius: 10;
	-fx-font-family: "Maybe Next";
}